<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Patatap_project_clone v1</title>
     <script src="paper-full.js"></script>
     <script src="howler.js"></script>
     <!-- <script src="paper-core.min.js"></script> -->
     <link rel="stylesheet" href="patatap-v1.css">
     <!-- <script type="text/paperscript" src="writepad.js" canvas="mycanvas"> -->
     <script type="text/paperscript" src="randomcircleanimate.js" canvas="mycanvas">
       
    </script>
   
</head>
<body>
    <canvas id="mycanvas" resize></canvas>
	<input type=text placeholder="press from a to z">
</body>
</html>